

.nav-link {
  color: var(--color-text-primary);
}

.btn-get-in-touch {
  background: var(--color-button-background);
  color: var(--color-button-text);
  clear: both;
  transition: all 0.8s, color 0.3s 0.3s;
  cursor: pointer;
}

.btn-get-in-touch:hover,
.btn-get-in-touch:focus {
  background: var(--color-button-hover);
  border-color: var(--color-button-hover);
  color: var(--color-text-primary);
}
.menu-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}
.line {
  fill: none;
  stroke: var(--color-text-primary);
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

nav span {
  width: 62px;
  height: 62px;
  cursor: pointer;
}

nav span img {
  margin-top: 15%;
}
